# Ignore all files
*

# Whitelist files and directories that can be tracked.
!.gitignore
!*.sublime-keymap
!*.sublime-mousemap
!*.sublime-snippet
!*.sublime-settings
!*.sublime-macro
!*.sublime-menu

/Gist.sublime-settings

/GitSavvy.sublime-settings
